.bg-petanikode {
    background: #008080;
}

img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

a:hover {text-decoration: none}

.post-content  {
    font-family: Merriweather, Georgia, Sans-serif;
}

.post-content h2, 
.post-content h3, 
.post-content h4, 
.post-content h5,
.post-content h6 {
    font-family: Roboto, Sans;
    margin: 1em 0;
}  

.post-content img, .post-content iframe {
    max-width: 100%;
}

/* Table */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 1em;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}